@tailwind base;
@tailwind components;
@tailwind utilities;
s

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a, p {
  text-decoration: none;
  line-height: 100%;
} 

.menu-bar a, .menu-open p{
  cursor: pointer;
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder{
  position: relative;
}

.menu-link-item-holder a {
  color: black;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 85%;
}

.pulsating {
  cursor: pointer;
  animation: color_change 1s infinite alternate;
}
.pulsating-2 {
  cursor: pointer;
  animation: color_change 0.8s infinite alternate;
}

@keyframes color_change {
 from { color: #000; }
 to { color: #888; }
}
